body {
  font-size: .875rem;
}
.jumbotron-local {
  border-radius: 8px;
  width: 39%;
  overflow: hidden;
  position: absolute;
  right: 440px;
 -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 40px;
  bottom: auto;
  background: #e9faff;
}

